html, body, #react-target {
  height: 100%;
}

.min-100 {
  min-height: 100%;
}

hr {
  color: white !important;
  background-color: white !important;
  height: 1px !important;
  width: 150px !important;
  opacity: 1 !important;
}

::selection {
  background: #fc4c3d;
}

table {
  border-color: white !important;
  width: 200px;
  max-width: 100vw;
}

button:focus {
  box-shadow: none !important;
}

input:focus {
 box-shadow: 0 0 0 0.2rem rgba(252, 76, 61, 0.25) !important;
 border-color: rgba(252, 76, 61, 0.25) !important;
}

input[type=text] {

}

input[type=checkbox]:focus {
   border-color: #ced4da !important;
   box-shadow: none !important;
}

input[type=checkbox]:checked {
  background-color: #fc4c3d !important;
  border-color: #fc4c3d !important;
}

select:focus {
  border-color: #ced4da !important;
  box-shadow: none !important;
}

.btn-main.btn-main {
  background-color: #4e6575;
  color: white;
}

.btn-main.btn-main:hover {
  background-color: #fc4c3d;
  color: white;
  transform:scale(1.03, 1.03);
}

.btn-main2.btn-main2 {
  background-color: #fc4c3d;
  color: white;
}

.btn-main2.btn-main2:hover {
  background-color: #4e6575;
  color: white;
  transform:scale(1.03, 1.03);
}

.btn-nav.btn-nav {
  background-color: #fc4c3d;
  border: 2px solid white;
  color: white;
}

.btn-nav.btn-nav:hover {
  background-color: white;
  color: #fc4c3d;
  transform:scale(1.05, 1.05);
}

.btn-ok.btn-ok {
  background-color: #fc4c3d;
  color: white;
  transition: 0.2s
}

.btn-ok.btn-ok:hover {
  background-color: #fb1e0b;
  color: white;
}

.btn-cancel.btn-cancel {
  background-color: #4e6575;
  color: white;
  transition: 0.2s
}

.btn-cancel.btn-cancel:hover {
  background-color: #3e515d;
  color: white;
}

.btn-circle {
  border-radius: 50% !important;
}

.bg-nav {
  background-color: #fc4c3d;
}

.bg-main {
  background-color: #d7dadd
}

.navbar-text-main {
  color: white;
}

.navbar-custom {
  height: 60px;
}

.size {
  width: 200px;
}

.size-100px {
  width: 100px;
}

.break-word {
  word-wrap: break-word;
}

.box-25px {
  height: 25px;
  width: 25px;
}

.box-32px {
  height: 32px;
  width: 32px;
}

.btn-transparent {
  background: transparent;
  border: none;
}

.btn-focus:focus{
  outline: none;
}

.vertical-input-group .input-group:first-child {
    padding-bottom: 0;
}
.vertical-input-group .input-group:first-child * {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.vertical-input-group .input-group:last-child {
    padding-top: 0;
}
.vertical-input-group .input-group:last-child * {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) {
    padding-top: 0;
    padding-bottom: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) * {
    border-radius: 0;
}
.vertical-input-group .input-group:not(:first-child) * {
    border-top: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-buttons {
  width: 246px;
  padding: 10px;
  margin: 20px;
}

.fill-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fill-form > div, .fill-form > button {
  margin: 10px;
}

.match-list {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.round-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  height: 30%;

  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.login-form > div {
  margin: 8px;
}

.login-form > div > label {
  font-weight: bold;
}

.login-form > div  > input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 6px;
  background: transparent;
  border: 1px solid #aaa;
  width: 100%;
  font-size: 1em;
  margin-right: 16px;
  margin-top: 4px;
}

.login-form > div > input:focus {
  outline: 0;
}

.login-form > div > button {
  background-color: #62807e;
}

.account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.score {
  border: 0;
  font-size: 1em;
}

.score:focus {
  outline: none;
  box-shadow: none !important;
}

#hide {
  position: absolute;
  height: 0;
  overflow: hidden;
  white-space: pre;
}
