.navbar-custom {
  height: 55px;
  margin-bottom: 20px;
}

.size {
  width: 200px;
}

.size-100px {
  width: 100px;
}

.break-word {
  word-wrap: break-word;
}

.box-25px {
  height: 25px;
  width: 25px;
}

.btn-transparent {
  background: transparent;
  border: none;
}

.btn-focus:focus{
  outline: none;
}

.vertical-input-group .input-group:first-child {
    padding-bottom: 0;
}
.vertical-input-group .input-group:first-child * {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.vertical-input-group .input-group:last-child {
    padding-top: 0;
}
.vertical-input-group .input-group:last-child * {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) {
    padding-top: 0;
    padding-bottom: 0;
}
.vertical-input-group .input-group:not(:last-child):not(:first-child) * {
    border-radius: 0;
}
.vertical-input-group .input-group:not(:first-child) * {
    border-top: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-buttons {
  width: 246px;
  padding: 10px;
  margin: 20px;
}

.fill-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fill-form > div, .fill-form > button {
  margin: 10px;
}

.match-list {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.round {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.round-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  height: 30%;

  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.login-form > div {
  margin: 8px;
}

.login-form > div > label {
  font-weight: bold;
}

.login-form > div  > input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 6px;
  background: transparent;
  border: 1px solid #aaa;
  width: 100%;
  font-size: 1em;
  margin-right: 16px;
  margin-top: 4px;
}

.login-form > div > input:focus {
  outline: 0;
}

.login-form > div > button {
  background-color: #62807e;
}

.account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.score {
  border: 0;
  font-size: 1em;
}

.score:focus {
  outline: none;
}

#hide {
  position: absolute;
  height: 0;
  overflow: hidden;
  white-space: pre;
}
